﻿@{
    ViewBag.Title = "About";
}
<h2>
    @Html.ActionLink("Day la link", "Index", "Home", new { @class = "text-danger" })
</h2>
<h2>@ViewBag.Title.</h2>
<h2>@ViewData["My Name"]</h2>
<h2>@ViewBag.student.Name</h2>
<h2>@ViewBag.student.ID</h2>
<h3>@ViewBag.Message</h3>
<h3>@TempData["phone"]</h3>

@{
    NET_MVC.Models.Student std = (NET_MVC.Models.Student)ViewData["studentData"];
}
<h1>
    @std.Name
</h1>

<h1>
    @std.ID
</h1>

<p>Use this area to provide additional information.</p>
@Html.Partial("DemoPartialView");